name: rollbar-flutter CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_android:
    runs-on: ubuntu-18.04
    name: Flutter version ${{ matrix.flutter_version }}
    strategy:
      matrix:
        flutter_version: ['2.0.5', '1.20.4', '2.2.3']
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '8.x'
    - uses: subosito/flutter-action@4389e6cbc6cb8a4b18c628ff96ff90be0e926aa8
      with:
        flutter-version: ${{ matrix.flutter_version }}
    - name: Remove additional NDKs (Android Gradle plugin 3.5.0 workaround)
      run: |
        chmod +x .github/apply-ndk-workaround &&
        .github/apply-ndk-workaround
    - name: Show environment
      run: |
        env
        which flutter
        flutter doctor -v
    - name: Build rollbar_dart
      working-directory: ./rollbar_dart
      run: |
        flutter pub get &&
        ../.github/run-flutter-analyze ${{ matrix.flutter_version }} &&
        flutter pub run test
    - name: Analyze rollbar_dart example
      working-directory: ./rollbar_dart/example
      run: |
        flutter pub get &&
        ../../.github/run-flutter-analyze ${{ matrix.flutter_version }}
    - name: Build rollbar_flutter
      working-directory: ./rollbar_flutter
      run: |
        flutter pub get &&
        ../.github/run-flutter-analyze ${{ matrix.flutter_version }} &&
        flutter test
    - name: Test rollbar_flutter Android plugin
      working-directory: ./rollbar_flutter/android
      run: |
        export FLUTTER_SDK=$(../../.github/find-flutter-sdk)
        echo $FLUTTER_SDK
        ./gradlew check
    - name: Build rollbar_flutter Android example
      working-directory: ./rollbar_flutter/example/
      run: flutter build apk
    - uses: actions/upload-artifact@v2
      if: ${{ always() }}
      # We are not supposed to lock our dependencies in packages or plugins, so we'll
      # at least keep track of which ones were used in the build, in case a test fails
      # and we need to reproduce it locally with the same dependencies.
      with:
        name: dependencies_used_${{ matrix.flutter_version }}
        path: |
          rollbar_dart/pubspec.lock
          rollbar_dart/example/pubspec.lock
          rollbar_flutter/pubspec.lock
          rollbar_flutter/example/pubspec.lock

  build_macos:
    runs-on: macos-latest
    name: Flutter version ${{ matrix.flutter_version }} (iOS)
    strategy:
      matrix:
        flutter_version: ['1.20.4', '2.2.3']
    
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@4389e6cbc6cb8a4b18c628ff96ff90be0e926aa8
      with:
        flutter-version: ${{ matrix.flutter_version }}
    - name: Remove additional NDKs (Android Gradle plugin 3.5.0 workaround)
      run: |
        chmod +x .github/apply-ndk-workaround &&
        .github/apply-ndk-workaround
    - name: Show environment
      run: |
        env
        which flutter
        flutter doctor -v
    - name: Build rollbar_flutter iOS example
      working-directory: ./rollbar_flutter/example/
      run: flutter build ios --no-codesign
    - uses: actions/upload-artifact@v2
      if: ${{ always() }}
      # Save dependencies used
      with:
        name: dependencies_used_${{ matrix.flutter_version }}
        path: |
          rollbar_dart/pubspec.lock
          rollbar_dart/example/pubspec.lock
          rollbar_flutter/pubspec.lock
          rollbar_flutter/example/pubspec.lock
